<footer>
    <div class="fixed-container">
        <div class="case-logo">
            <a href="/" class="logo purple">FUJI</a>
        </div>

        <div class="column menu">
            <p class="_title_">Меню</p>
            <a href="course" class="menu__course"><p>Курсы</p></a>
            <a href="/" class="menu__lecture"><p>Лекции</p></a>
            <a href="/" class="menu__organization"><p>Организации</p></a>
        </div>

        <div class="column about">
            <p class="_title_">О нас</p>
            <a href="/" class="about__contact"><p>Контакты</p></a>
            <a href="/" class="about__vacancy"><p>Вакансии</p></a>
        </div>
    
        <div class="social-media">
            <img src="../../../static/img/instagram.png" alt="Мы в инсте" class="instagram">
            <img src="../../../static/img/vk.png" alt="Группа в вк" class="vk">
        </div>
    </div>
    <script src="../../../static/js/jquery-3.6.0.min.js"></script>
    <script src="../../../static/js/footer.js"></script>
    <!-- <p class="copyright">© FUJI, 2021</p> -->
</footer>