<footer>
    <div class="fixed-container">
        <div class="case-logo">
            <a href="/" class="logo">FUJI</a>
        </div>

        <div class="column menu">
            <a href="/" class="title"><p class="_title_">Меню</p></a>
            <a href="/" class="course"><p>Курсы</p></a>
            <a href="/" class="lecture"><p>Лекции</p></a>
            <a href="/" class="organization"><p>Организации</p></a>
        </div>

        <div class="column about">
            <a href="/" class="title"><p class="_title_">О нас</p></a>
            <a href="/" class="contact"><p>Контакты</p></a>
            <a href="/" class="vacancy"><p>Вакансии</p></a>
        </div>
    
        <div class="social-media">
            <img src="../../../static/img/instagram.png" alt="Мы в инсте" class="instagram">
            <img src="../../../static/img/vk.png" alt="Группа в вк" class="vk">
        </div>
    </div>
    <!-- <p class="copyright">© FUJI, 2021</p> -->
</footer>