<header>
    <div class="fixed-container">
        <a href="/" class="logo">FUJI</a>

        <div class="navigation">
            <nav class="item"><a href="/" class="navigation__course">Курсы</a></nav>
            <nav class="item"><a href="/" class="navigation__lecture">Лекции</a></nav>
            <nav class="item"><a href="/" class="navigation__organization">Организации</a></nav>
            <nav class="item sign">
                <a href="/" class="signin">Войти</a>
            </nav>
        </div>
    </div>
</header>