@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../font/montserrat_semibold.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../font/montserrat_bold.ttf);
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../font/montserrat_medium.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat.ttf);
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat-Medium', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat-Bold', sans-serif;}

h1 {font-size: 96px;}
h2 {font-size: 72px;}
h3 {font-size: 64px;}
h4 {font-size: 48px;}
h5 {font-size: 36px;}
h6 {font-size: 24px;}


p._big_ {font-size: 24px;}
p {font-size: 20px;}
p._middle_ {font-size: 18px;}
p._small_ {font-size: 16px;} 
p._title_ {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 24px;
}
p._description_ {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 18px;
}

a { text-decoration: none; }


header {
    padding-top: 40px;
    height: 50px;
}

header a {
    color: #000;
}

.fixed-container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

header .navigation {
    font-size: 16px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

a.logo {
    font-family: 'Montserrat-Bold';
    font-size: 36px;
    letter-spacing: 0.6em;
    float: left;
}

header .navigation a.menu {
    margin: 0 18px;
    border-bottom: #6E4AFF 2px solid;
    transition-duration: .3s;
}

header .navigation  a.menu:hover {
    padding-bottom: 5px;
    border-bottom: white 2px solid;
    transition-duration: .3s;
}

header a.signin {
    padding: 15px 30px;
    border-radius: 40px;
    background-color: #fff;
    margin-left: 34px;
    color: #000;
    transition-duration: .3s;
    border: #6E4AFF 3px solid;
}

header a.signin:hover{
    border: #fff 3px solid;
    transition-duration: .3s;
}

/*-----------------*/
/*** { Footer } ***/
/*---------------*/


footer {
    padding: 150px 0;
    background-color: #1F173F;
    display: flex; 
}

footer a.logo {
    padding: 100px 120px;
    color: #fff;
    transition-duration: .3s;
}

footer .purple {
    background-color: #6E4AFF;
}
footer .green {
    background-color: #2ED573;
}
footer .blue {
    background-color: #0abde3;
}
footer .red {
    background-color: #ff6b6b;
}

footer .column {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

footer .column.menu {
    margin-left: 160px;
}


footer .column a{
    margin-bottom: 20px;
    color: white;
    transition-duration: .3s;
}

footer .column a:not(.title):hover {
    color: #524C6D;
    transition-duration: .1s;
}

footer .social-media {
    margin-left: auto;
    display: flex;
}

footer .social-media img {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}