  {% extends './base.html' %}
{% load static %}

{% block title %}Курсы - Fuji{% endblock %}

{% block header %}
  {% include './block/header.html' %}
{% endblock %}

{% block body %}
  <div class="block1">
    <div class="fixed-container">
      <div class="content">
        <h1 class="title">Курсы</h1>

        <div class="search">
          <form action="" method="get">
            <input name="q" type="search" placeholder="Поиск...">
            <div class="search__send">
              <input type="submit" value="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="block2">
    <div class="fixed-container">
      <div class="content">
        <div id="sorting">
          <span>
            <p class="_middle_" id="sorting__popular">По популярности</p>
            <img src="" alt="">
          </span>
          <span>
            <p class="_middle_" id="sorting__raiting">По рейтингу</p>
            <img src="" alt="">
          </span>
          <span>
            <p class="_middle_" id="sorting__price">По цене</p>
            <img src="" alt="">
          </span>
          <span>
            <p class="_middle_" id="sorting__name">По названию</p>
            <img src="" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="block3">
    <div class="fixed-container">
      <div class="content">
        <div id="courses">
          {% for course in courses %}
          <a href="#" class="course">
            <div class="course__wrapper">
              <img src="{{ course.image }}" alt="Изображение курса {{ course.title }}" class="image_title">
              <div class="text">
                <p class="_title_ title">{{ course.title }}</p>
                <p class="_description_ author">{{ course.author_id }}</p>
                <p class="_middle_ description">{{ course.description|truncatechars:120 }}</p>
              </div>
              <div class="row-info">
                <div class="info">
                  <div class="item rating">
                    <img src="../../static/img/star.svg" alt="Количество отзывов">
                    <p class="_middle_">{{ course.rating }}</p>
                  </div>
                  <div class="item members_amount">
                    <img src="../../static/img/people.svg" alt="Количество людей записавшиеся на курс">
                    <p class="_middle_">{{ course.members_amount }}</p>
                  </div>
                  <div class="item duration_in_minutes">
                    <img src="../../static/img/clock.svg" alt="Количество часов на прохождение">
                    <p class="_middle_">{{ course.duration_in_minutes }}</p>
                  </div>
                  {% if course.has_certificate %}
                    <div class="item certificate">
                      <img src="../../static/img/certificate.svg" alt="Сертификат">
                      <p class="_middle_">сертификат</p>
                    </div>
                  {% endif %}
                </div>
                <span class="price">
                  {% if course.price == 0 %}
                    <p class="_middle_ green">Бесплатно</p>
                  {% else %}
                  <p class="_title_ purple">1000</p>
                  <img src="../../static/img/rub.svg" alt="Символ рубля">
                  {% endif %}
                </span>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>

        <div id="filters">
            <div class="filter" id="price">
              <h6>Цена</h6>
              <div class="item__radio item">
                <input type="radio" id="price__all" name="price" value="1">
                <label for="price__all"><p class="_middle_">Любая</p></label>
                <input type="radio" id="price__free" name="price" value="2">
                <label for="price__free"><p class="_middle_">Бесплатно</p></label>
                <input type="radio" id="price__payable" name="price" value="3">
                <label for="price__payable"><p class="_middle_">Платно</p></label>
              </div>
            </div>
            <div class="filter" id="status">
              <h6>Статус</h6>
              <div class="item__checkbox item">
                <input type="checkbox" id="checkbox__all" name="status" value="1">
                <label for="checkbox__all"><p class="_middle_">Любая</p></label>
                <input type="checkbox" id="checkbox__free" name="status" value="2">
                <label for="checkbox__free"><p class="_middle_">Бесплатно</p></label>
                <input type="checkbox" id="checkbox__payable" name="status" value="3">
                <label for="checkbox__payable"><p class="_middle_">Платно</p></label>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include './block/footer.html' %}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static './css/course.css' %}">
{% endblock %}