{% extends './base.html' %}
{% load static %}

{% block title %}Вход - Fuji{% endblock %}



{% block body %}
    <div class="content">
        <div class="wrapper">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="case-logo">
                <a href="{% url 'home' %}" class="logo"><h5 class="logo">FUJ</h5>I</a>
            </div>
            <div class="switch-sign">
                <a href="#" class="switch__sign-in"><p class="_mini_">Вход</p></a>
                <a href="{% url 'signup' %}" class="switch__sign-up"><p class="_mini_">Создать аккаунт</p></a>
            </div>
            <form action="{% url 'signin' %}" method="post" class="form">
                {% csrf_token %}
                <label for="input-username" class="l-username">Ваш логин</label>
                {{ form.username }}
                <label for="input-password" class="l-password">Ваш пароль</label>
                {{ form.password }}
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>

    <script src="../../../static/js/input.js"></script>

    {% endblock %}
    
    {% block css %}
      {{ block.super }}
      <link rel="stylesheet" href="{% static './css/sign.css' %}">
      <link rel="stylesheet" href="{% static './css/signin.css' %}">
    {% endblock %}
